*
{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

html {
    height:100%;
    width:100%;
}

body{
    background-image: url(max.jpg);
    height:100%;
    width:100%;
}

#box{
    width: 200px;
    height: 500px;
    text-align: center;  
    background-color: #e6ffff;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 40px;
        
    
}

#pro{
    width: 125px;
    height: 125px;
    margin-top: 30px;
}

#indexx{
    width: 125px;
    font-size: 20px;
    background-color: rgba(36, 161, 156,0.7);
    border-radius: 6px;
    color: white;
    margin-top: 30px;
}

#indexx:hover{
    color: darkgreen;
}

#Loginn{
    width: 125px;
    font-size: 20px;
    background-color: rgba(36, 161, 156,0.7);
    border-radius: 6px;
    color: white;
    margin-top: 40px;
    
}

#Loginn:hover{
    color: darkgreen;
}